{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container col-md-7 border border-secondary p-5">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form class="text-center" method="POST">
        <input name="email" required class="form-control" placeholder="Email">
        <br>
        <input type="password" name="password" id="password" required class="form-control" placeholder="password">
        <button class="btn btn-secondary my-4 btn-block" type="submit">
            Log in
        </button>

    </form>
</div>
{% endblock %}
