{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container col-md-7 border border-secondary p-5">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ messages[0] }} Try again
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endwith %}
    <form class="text-center" method="POST">
        <input type="text" name="username" required class="form-control" placeholder="Username">
        <br>
        <input type="email" name="email" required class="form-control" placeholder="Email">
        <br>
        <input type="password" name="password" id="password" required class="form-control" placeholder="Password">
        <hr>
        <button class="btn btn-secondary my-4 btn-block" type="submit">
            Register
        </button>

    </form>
</div>
{% endblock %}


