{% extends 'base.html' %}

{% block title %}Blog{% endblock title %}

{% block content %}

{% if current_user.is_authenticated %}
<h1>Hi {{ current_user.username }}</h1>
{% else %}
<h1>Hi nobody</h1>
{% endif %}

<a href="{{ url_for('blog.create') }}" class="btn btn-primary btn-sm">
    Add New Post
</a>

<hr>

<div class="row">

    {% for post in posts %}
    <div class="container col-md-5 alert alert-secondary">
        <h2 class="text-success">{{ post.title }}</h2>

        <h6>{{ post.content[:20] }}</h6>

        <hr>
        {% for user in users %}
        {% if user.id == post.author_id %}
        <h5>
            Post from user: {{ user.username }}
        </h5>
        {% endif %}
        {% endfor %}
        <p>{{ post.publication_datetime|strftime}}</p>
        {% if current_user.id == post['author_id'] %}
        <div>
            <a href="{{ url_for('blog.update', id=post['id']) }}" class="btn btn-outline-warning btn-sm">
                Update
            </a>
            <a href="{{ url_for('blog.delete', id=post['id']) }}" class="btn btn-outline-danger btn-sm">
                Delete
            </a>
        </div>
        {% endif %}

    </div>

    {% endfor %}

</div>

{% endblock content %}