{% extends 'base.html' %}

{% block title %}Blog{% endblock title %}

{% block content %}

{% if current_user.is_authenticated %}
<h1>Hi {{ current_user.username }}</h1>
{% else %}
<h1>Hi nobody</h1>
{% endif %}

<a href="{{ url_for('blog.create') }}" class="btn btn-primary btn-sm">
    Add New Post
</a>
<hr>


<div class="row">
    {% for post in posts %}
    {% for user in users %}
    {% if user.id == post.author_id %}
    <div class="card ml-3 mb-3">
        <div class="card-body">

            <h5 class="card-title">
                <a class="navbar-brand" href="{{ url_for('blog.post_detail', id=post['id']) }}">
                    {{post.title[:50] }}
                </a>
            </h5>

            <h6 class="card-subtitle mb-2 text-muted">
                Author: {{ user.username }}
            </h6>

            <p class="card-text">
                {{ post.content[:50] }}
            </p>

            <p>
                {{ post.publication_datetime|strftime}}
            </p>

            {% if current_user.id == post.author_id %}
            <a href="{{ url_for('blog.update', id=post['id']) }}" class="btn btn-outline-warning btn-sm">
                Update
            </a>
            <a href="{{ url_for('blog.delete', id=post['id']) }}" class="btn btn-outline-danger btn-sm">
                Delete
            </a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>

{% endblock content %}